@import "tailwindcss";

@theme{
    /* Screens */
  --breakpoint-xxs: 0px;
  --breakpoint-xs: 360px;
  --breakpoint-sm: 480px;
  --breakpoint-msm: 540px;
  --breakpoint-lsm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
}